<p>This app connects data between government departments. When viewing a resource, relevant related resources will be shown from other departments - providing a dashboard of information for any given issue.</p>

<p>At present, the only supported main source is the reports (&amp; press releases) produced by the National Audit Office. Relevant related information is currently sourced from <abbr title="National Audit Office">NAO</abbr>, <abbr title="Office for National Statistics">ONS</abbr> and the Houses of Parliament.</p>

<h2>Data</h2>

<ul>
	<li>
		<a href="/nao">National Audit Office</a>

		<ul>
			<li><a href="/nao/reports">Reports</a></li>
		</ul>
	</li>
</ul>
